<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>NLPNest</title>
  </head>
  <body>
    <header id="nav">
      <div id="icon">
        <img src="../static/assets/logo.png" alt="" />
      </div>
      <div id="links" class="nav-links">
        <a href="#">Home</a>
        <a href="#">Service</a>
        <a href="#">About</a>
      </div>
      <div id="sign-up" class="nav-links">
        <a href="#">Sign Up</a>
      </div>
    </header>
    <div id="main">
      <div id="title">
        <span id="first-line">Unlock the Magic of Language:</span>
        <br />
        <span id="second-line">Your Gateway to NLP Wonders</span>
      </div>
      <div id="button">
        <a href="#">Try Now </a>
      </div>
    </div>

    <div id="hero-section">
      <div id="row-1">
        <div class="cards" id="card1">
          <a href="#">
            <div class="img-container">
              <img src="../static/assets/news.jpg" alt="" />
            </div>
            <div class="card-text-container">
              <div id="card-text1">
                <h3>Fake News Classifier</h3>
                <p>
                  Detect misinformation with our Fake News Classifier. Unveil
                  the truth by evaluating the credibility of news articles and
                  sources
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="cards" id="card2">
          <a href="#">
            <div class="img-container">
              <img
                src="https://appbot.co/images/marketing/hero_sentiment_analysis-033ef5af.svg"
                alt=""
              />
            </div>
            <div class="card-text-container">
              <div id="card-text2">
                <h3>Sentiment Analyzer</h3>
                <p>
                  Explore the emotions hidden in text with our Sentiment
                  Analyzer. Understand whether text expresses positivity,
                  negativity, or neutrality.
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="cards" id="card3">
          <a href="./text_summarizer.html">
            <div class="img-container">
              <img src="../static/assets/text-summary.jpeg" alt="" />
            </div>
            <div class="card-text-container">
              <div id="card-text3">
                <h3>Text Summarizer</h3>
                <p>
                  Condense lengthy texts effortlessly using our Text Summarizer.
                  Transform verbose content into concise, meaningful summaries
                  for quick understanding.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
